* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "The Nautigal", cursive;
}

.main {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  width: 49px;
  height: 46px;
  margin: 0 0 10px;
}

.main h2,
.main p {
  font-size: 30px;
  margin: 0 0 15px;
}

.main p {
  color: #717b8d;
  max-width: 500px;
  text-align: center;
}

.main button {
  padding: 7px 22px 9px 21px;
  border-radius: 17px;
  border: none;
  font-weight: bold;
  color: #026eea;
}

.main button:hover {
  background-color: #026eea;
  color: #fff;
  text-decoration: none;
}
